html, body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--primary);
}

main {
  z-index: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

/* Variables*/

:root {
  --bg-primary: rgb(1, 1, 14);
  --primary: black;
  --primary-blue: rgb(122, 180, 235);

  --color-bg1: rgb(1, 1, 14);
  --color-bg2: rgb(19, 31, 71);     /* deep navy blue */
  --color1:  0, 65, 163;      /* vibrant blue */
  --color2:  61, 157, 221;      /* sky blue */
  --color3:  17, 19, 139;    /* light aqua-blue */
  /* --color4:  15, 0, 151;    
  --color5:  5, 33, 112;       */
  --color-interactive: 67, 67, 200;
  --circle-size: 95%;
  --blending: hard-light;
}

.test {
  --color1:  rgb(0, 65, 163);      /* vibrant blue */
  --color2:  rgb(61, 157, 221);      /* sky blue */
  --color3:  rgb(17, 19, 139);    /* light aqua-blue */
  --color4:  rgb(15, 0, 151);      /* steel blue */
  --color5:  rgb(5, 33, 112);      /* indigo navy */
}
@font-face {
  font-family: 'Nohemi';
  src: url('fonts/Nohemi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nohemi", tahoma;
  background-color: var(--primary);
  color: white;
  overflow-x: hidden;
}

.bg-primary-black {
  background: var(--primary);
}

.section-hero {
  position: relative;
  background-color: transparent;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

.card-certs {
  border-radius: 8px;
  overflow: hidden;
}

.card-certs::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #01B4FD;
  opacity: .3;
  border-radius: 12px;
}

.card-certs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card-certs:hover::before {
  opacity: .2;
}

.card-certs:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.font-alt-italic {
  font-family: "Great Vibes", serif;
  vertical-align: middle;
}

.section {
  padding: 120px 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: auto;
    padding: 80px 0;
  }
}

.hero-container {
  font-family: "Nohemi", tahoma;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;

  @media screen and (max-width: 768px) {
    height: 600px;
  }
}

.h1 {
  font-size: clamp(80px, 10vw, 40rem);
  letter-spacing: 2rem;
  line-height: 110%;

  span {
    font-size: clamp(64px, 12vw, 100rem);
  }

  @media screen and (max-width: 768px) {
    line-height: 60%;
    letter-spacing: 1rem;
  }
}

.h2 {
  font-size: clamp(32px, 5vw, 90px);
}

.h3 {
  font-size: clamp(28px, 4vw, 60px);
}


.contact-me {
  position: relative;
  color: white;
  font-size: clamp(64px,-6.5915492958px + 9.7183098592vw, 120px);
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

.card {
  display: flex;
  border-radius: 1rem;
  border: none;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card:hover::before {
  opacity: .2;
}

.card:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.mb-16 {
  margin-bottom: 64px;
}

.w-100 {
  width: 100%;
}

.cover {
  object-fit: cover;
}

.f-thumbs__viewport, .f-button {
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2001;
  height: 90px;
  display: flex;
  align-items: center;
}

.menu {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  top: 90px;
  right: 24px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  background-color: var(--bg-primary);

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 768px){
      font-size: 16px;
    }
  }
}

#hamburger-icon {
  height: 74px;

  &:hover {
    opacity: .7;
  }

  @media screen and (max-width: 768px){
    height: 48px;
    padding: 0;
  }
}

#topButton {
  position: fixed;
  right: 3%;
  bottom: 5%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #444444;
  z-index: 999;
  transform: translateY(200%);
  transition: all .5s ease-in-out;
}

#topButton:hover {
  background: #333333;
}

#topButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-relative {
  position: relative;
}

.footer {
  padding: 24px 24px 0;
  background-color: #0a0a0a;
}

.footer__bottom {
  padding-bottom: 24px;
}

.social-icons {
  &:hover {
    opacity: .8;
  }
}

.projects-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.projects-container {
  display: flex;
  height: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.projects {
  min-width: 100vw;
  height: 100%;
  display: flex;
  align-items: end;
  font-size: 3rem;
  padding: 32px;
  background: #ddd;
  border-right: 2px solid #aaa;
  text-decoration: none;
  position: relative;

  .project-title {
    font-size: 100px;
    color: white;
    transform: translateY(120%);
    transition: all .3s ease-in-out;
    z-index: 1;

    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  .icon {
    width: 100px;
    height: 100px;

    @media screen and (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  .project-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      pointer-events: none; 
      z-index: 1;
    }
  }

  .project-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &:hover {
    .project-title {
      transform: translateY(0);
    }
  }
}

.btn-contact {
  font-family: "Nohemi", sans-serif;
  position: relative;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  padding: 16px 40px 12px;
  color: white;
  background-color: transparent;
  text-decoration: none;
  transition: all .2s ease-in-out;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  &:hover {
    color: var(--primary);
    background: linear-gradient(45deg, #009DFF, #4FF9F1);
  }
}

.btn-contact::before {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: 50px;
  background: linear-gradient(45deg, #009DFF, #4FF9F1);
  z-index: -1;
}

.btn-contact::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 50px;
  background-color: black;
  z-index: -1;
}

.contact-section {
  position: relative;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: 500px;
  }
}

.transition-base {
  transition: all .2s ease-in-out;
}

.bg-light-yellow {
  background: linear-gradient(0deg,rgba(255, 241, 230, 1) 40%, rgba(253, 250, 246, 1) 100%);
}

.collections-card {
  z-index: 1;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 100%;
  width: 15vw;
  /* height: 90%; */
  padding: .55em;
  position: relative;
  overflow: clip;
  flex: 0 0 auto;
  transition: all .3s ease-in-out;
  background: linear-gradient(45deg, #009DFF, #4FF9F1);

  &.active {
    width: 35vw !important;

    canvas {
      width: 98% !important;
      height: 98% !important;
    }
  }

  img {
    height: 100%;
  }
}

.horizontal-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 80vh;
  width: max-content;
  will-change: transform;

  @media screen and (max-width: 768px) {
    height: 40vh;
  }
}

.horizontal-scroll-section {
  padding: 80px 0;
}

.horizontal-wrapper canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 100%;
  background: black;
}

.story-spacer {
  width: 45vw;
  height: 100%;

  &.last {
    width: 57vw;
  }
}

.py-20 {
  padding-block: 80px;
}

.pb-10 {
  padding-bottom: 80px;
}

.z-1 {
  z-index: 1;
}

.window {
  display: inline-block;
  /* width: 148px; */
  height: 74px;
  transform-origin: center;
  border-radius: 16px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.window img {
  /* width: 148px; */
  object-fit: contain;
  height: 90px; 
  display: block;
  clip-path: inset(0 100% 0 0); 
  transition: clip-path .8s cubic-bezier(.6,0,.2,1), opacity .2s linear;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: center;
  justify-items: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.py-32 {
  padding: 128px 0;

  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
}

.arm-wrapper img {
  visibility: hidden; 
  width: 100%;
}

.arm-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  pointer-events: none;
}

.arm-wrapper--right canvas {
  left: -5px;
  z-index: -1;
}

@keyframes slideDown {
  0% {
    opacity: .3;
    top: -100%;
  }

  55%  {
    top: -50%;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.progress-bar {
  width: 100%;
  height: 5px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: #01B4FD;
  transition: width 0.3s;
}

#percent {
  font-size: 100px;

  @media screen and (max-width: 768px) {
    font-size: 64px;
  }
}
